{{.Title}}

{{.Header}}

{{ range $i, $o := .Options -}}
{{ if eq $i $.Cursor -}}
  [🞋]
{{- else -}}
  [ ]
{{- end }}{{ if $o.Hotkey }} ({{ $o.Hotkey }}){{ end }} {{$o.Text}}
{{ end }}

>> 
{{ if .Footer }}
{{ .Footer }}
{{- end -}}
