Replicant {{ .R.ReplicantCode }}: {{ .R.Name }}
XP: {{ .R.ExperiencePoints }}  Devices: {{ .R.DeviceCount }}

Location: {{ .R.CurrentStar }} > {{ .R.CurrentLocation }}

{{ with .ScanData }}
--- SCAN DATA ---
Entry point: {{ .EntryPoint }}  Life detected: {{ .LifeDetected }}

{{ if .ActiveLocationEvents }}
Events: {{ range $i, $e := .ActiveLocationEvents }}
- {{ $e }}
{{- end }}{{ end }}

Planets:
{{ range $i, $p := .Planets }}
- {{ $p.Designation }} ({{ $p.Type }}) {{ if $p.Scanned }}(scanned){{ end }}
{{- end }}

{{ if .AsteroidBelt.Present }}
Belts: {{ range $i, $b := .AsteroidBelt.Belts }}
- {{ $b.Designation }} ({{ $b.Density }}): {{ range $k, $v := $b.Resources }}
  - {{ $k }}: {{ $v }}
  {{- end }}
{{- end }}{{ end }}

{{ end }}
